@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $greyColor
	font-size: 1.286rem
	opacity: 1

*:-moz-placeholder
	color: $greyColor
	font-size: 1.286rem
	opacity: 1

*::-moz-placeholder
	color: $greyColor
	font-size: 1.286rem
	opacity: 1

*:-ms-input-placeholder
	color: $greyColor
	font-size: 1.286rem
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
html
	font-size: 14px
html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.clearfix:before,
.clearfix:after 
	content: " "
	display: table

.clearfix:after 
	clear: both

.clearfix 
	*zoom: 1

.hidden
	display: none


.top-line
	background-color: $accent
	height: 9px
	width: 100%
	margin-bottom: 57px
.h1
	font-size: 3rem
	text-transform: uppercase
	color: $greyColor
	text-align: center
	font-weight: 700
	letter-spacing: -1px
	margin-bottom: 110px
.bg-wrap
	margin-bottom: 95px
	min-height: 381px
	width: 100%
	background-color: $accent
	border-bottom: 1px solid #b29300

.container-wrap
	max-width: 1200px
	margin: 0 auto
	background-color: #FFF


.content-wrap
	position: relative
	background-color: $accent
	height: 100%



.img-book
	display: inline-block
	position: absolute
	left: 50%
	transform: translate(-40%, -10%)
.img-orange
	display: inline-block
	position: absolute
	left: 30%
	transform: translate(-30%, 60%)
	bottom: 0
.left-content
	padding-left: 50px
	padding-top: 50px
	float: left
	max-width: 440px
	height: 100%
	&__header
		padding-bottom: 25px
		font-size: 4.143rem
		text-transform: uppercase
		font-family: "BebasNeueBold", sans-serif
		line-height: 1
		color: #000
		border-bottom: 1px solid #e3bb00
		box-shadow: 0 1px #ffe363
	&__descr
		line-height: 1
		font-size: 1.357rem
ul.list-adv
	padding-left: 0
	list-style-position: inside

.right-content
	float: right
	width: 330px
	height: 100%
	background-color: $greyColor
	border-bottom: 1px solid #2a2626
	padding: 25px 23px 18px
	color: #fff
	text-align: center
	line-height: 1

.right-content__head
	font-weight: 200
	font-size: 1.286rem
	margin-bottom: 15px
.right-content__accent
	font-size: 2.571rem
	color: $accent
	font-weight: 800
	text-transform: uppercase
	margin-bottom: 15px

.right-content__date
	margin-bottom: 25px

.form-style
	input
		width: 100%
		border: 1px solid transparent
		border-radius: 5px
		height: 56px
		margin-bottom: 18px
		padding-left: 1rem
		color: $greyColor
		&:focus
			outline-color: $accent

.submit_b
	border: none
	background-color: $buttonColor
	border-radius: 5px
	height: 64px
	line-height: 64px
	width: 100%
	color: #fff
	text-transform: uppercase
	font-size: 1.714rem
	font-weight: 700
	background: linear-gradient(to bottom, $buttonColor 0%,$buttonGradient 100%)
	&:hover
		cursor: pointer
		
	&:focus
			outline: none
	&:active
		box-shadow: inset 0 2px 2px rgba(0,0,0,0.2)
		outline: none

.input-wrap
	position: relative
.form-style 
	.rfield_error 
		display: block
		padding: 0px 10px 
		color: #d8512d
		z-index: 1
		position: absolute
		top: 20px
		left: auto
		right: 0
		visibility: hidden



.form-style
	input.rf_error
		border-color: #d8512d
		
.text-slogan
	text-align: center
	padding-bottom: 50px
	border-bottom: 1px solid #dbdbdb
	margin-bottom: 50px
	span
		position: relative
		display: inline-block
		font-weight: 700
		font-size: 2rem
		color: #000
		line-height: 1.1
		&:before
			left: 100%
			bottom: 70%
			display: block
			position: absolute
			content: ''
			background: url("../img/arrow.png") no-repeat
			height: 115px
			width: 150px
.slider-wrap
	margin-bottom: 100px
	position: relative

.slider
	margin-bottom: 100px

.slider-item
	vertical-align: top
	color: #000
	display: inline-block
	width: 100%
	margin-right: 1%
	padding-right: 20px
	&:last-child
		margin-right: 0
.slider-item__img
	float: left
	img
		width: 174px
		height: 174px
		border-radius: 10px
		border: 1px solid #d3d3d3



.item-text
	float: right
	width: 65%
	&__descr
		position: relative
		padding-bottom: 20px
		border-bottom: 1px solid $reviewColor
		margin-bottom: 25px
		&:before
			position: absolute
			display: inline-block
			content: ''
			width: 15px
			height: 15px
			background-color: $reviewColor
			bottom: -15px
			left: 0
.item-text__name
	font-weight: 700
	font-size: 1.286rem


.owl-carousel 
	.owl-item 
		img
			width: auto

.owl-nav
	display: block

.owl-prev
	display: inline-block
	left: -80px
	top: 50%
	transform: translateY(-50%)
	position: absolute
	i
		font-size: 60px
		display: block
		width: 40px
		height: 60px
		text-align: center
		color: #3c474c
		text-decoration: none
		line-height: 60px

.owl-prev.disabled, .owl-next.disabled
	display: none

.owl-next
	position: absolute
	right: -80px
	top: 50%
	transform: translateY(-50%)
	i
		display: inline-block
		width: 40px
		height: 60px
		text-align: center
		text-decoration: none
		color: #3c474c
		font-size: 60px
		line-height: 60px

.popup-wrap
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0,0,0,.8)
	cursor: pointer

.popup
	cursor: initial
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	position: absolute
	height: 200px
	width: 320px
	background-color: #ffd200
	border-radius: 5px
	padding: 80px 20px 20px
	text-align: center
	&__content
		font-size:  1.429rem
		font-weight: 700
		line-height: 1.1
	&__close
		line-height: 1.3
		position: absolute
		text-align: center
		right: 0
		top: 0
		border: 1px solid  $greyColor
		border-radius: 0 2px 0 
		background-color: $greyColor
		display: inline-block
		width: 30px
		height: 30px
		transition: all .25s ease
		&:hover
			cursor: pointer
			background-color: transparent
			& .closed-line, & .closed-line:before
				background-color: $greyColor
.closed-line
	height: 1px
	background-color: $accent
	width: 80%
	display: inline-block
	transform: rotate(-50deg)

.closed-line:before
	content: ''
	display: block
	height: 1px
	background-color: $accent
	transform: rotate(100deg)
	width: 100%

@import "media" // Всегда в конце
